
.cross{
    position: static;
    margin-left: 2%;
    height: 30px;
}

img{
    height: 25px;
    float:right;
    align-items: center;
}

.btn{
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 4%;
}